EXPO_PUBLIC_BASE_RAW_URL=https://raw.githubusercontent.com/visi8-ppramesi/visi8-interview-mock-backend/main
EXPO_PUBLIC_BASE_IMAGE_URL=https://raw.githubusercontent.com/visi8-ppramesi/visi8-interview-mock-backend